# Ignore virtual environment directories
venv/
env/
.venv
.venv/
# Ignore Python cache files
__pycache__/
*.pyc
*.pyo

# Ignore other common files
.DS_Store
*.log
*.sqlite3
*.db
*.bak
*.swp

# Ignore IDE specific files
.vscode/
.idea/
output/
output.rar
output2.rar
modelMorfologizerAndTokenizer/
outputCuTransformer/
outputCuTransformerFinal/
outputt2vtry/   
outputt2vv/
outputT2Vvectors/
outputTok2Vecfinal/
outputtrf2/